<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nartos.bid.mapper.TestMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,bid_name AS bidName,status
    </sql>
    
    <resultMap type="com.nartos.bid.model.TestVO" id="BaseResultMap">
    	<id column="id" property="id"/>
    	<result column="bid_name" property="bidName"/>
    	<result column="status" property="status" />
    </resultMap>
    
	<select id="selectAllBid" resultMap="BaseResultMap">
      select * from bid
    </select>
</mapper>